DeviceStatusMon/source/Z-Stack Home 1.1.0_CC2538_COR_OldName/Projects/zstack/HomeAutomation/SampleLight32/CC2538/settings/SampleLight.dbgdt
*.dbgdt
DeviceStatusMon/source/Z-Stack Home_CC2530_END/CC2530.IAB
DeviceStatusMon/source/Z-Stack Home_CC2530_END/CC2530.IMB
DeviceStatusMon/source/Z-Stack Home_CC2530_END/CC2530.IMD
DeviceStatusMon/source/Z-Stack Home_CC2530_END/CC2530.IAD
DeviceStatusMon/source/Z-Stack Home_CC2530_END/CC2530.PO
DeviceStatusMon/source/Z-Stack Home_CC2530_END/CC2530.PFI
DeviceStatusMon/source/Z-Stack Home_CC2530_END/CC2530.PR
DeviceStatusMon/source/Z-Stack Home_CC2530_END/CC2530.PRI